xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
Packages/
Package.pins
Package.resolved
#.swiftpm
.build/

## CocoaPods
Pods/

## Carthage
Carthage/Checkouts
Carthage/Build/

## Accio dependency management
Dependencies/
.accio/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Code Injection
iOSInjectionProject/